<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Couponurl>
			<version>0.0.1</version>
		</Cammino_Couponurl>
	</modules>
	<global>	
		<helpers>
            <couponurl>
                <class>Cammino_Couponurl_Helper</class>
            </couponurl>
        </helpers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <coupon_observer>
                        <type>singleton</type>
                        <class>Cammino_Couponurl_Model_CouponObserver</class>
                        <method>applyCoupon</method>
                    </coupon_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_layout_load_before>
                <observers>
                    <coupon_observer>
                        <type>singleton</type>
                        <class>Cammino_Couponurl_Model_CouponObserver</class>
                        <method>setCoupon</method>
                    </coupon_observer>
                </observers>
            </controller_action_layout_load_before>
            <catalog_product_get_final_price>
		        <observers>
		            <modulename_catalog_product_get_final_price>
		                <type>singleton</type>
		                <class>Cammino_Couponurl_Model_CouponObserver</class>
		                <method>setProductPriceBasedOnCupon</method>
		            </modulename_catalog_product_get_final_price>
		        </observers>
		    </catalog_product_get_final_price>
		</events>
	</global>
</config>
